{% extends 'blog/base.html' %}

 {% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        {% if all_blog %}
            <!-- /.row -->
            {% for eachblog in all_blog %}
            <!-- Project One -->
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ eachblog.title }}</h3>
                    <h4> Created On {{eachblog.date}} </h4>
                    <p>{{ eachblog.blog_text }}</p>
                </div>
            </div>
            <hr>
            <!-- /.row -->
            {% endfor %}
        {% else %}
                <h3>No Post, Please Write Something</h3>
        {% endif %}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MyAccount 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
 {% endblock %}